@font-face {
    font-family: ModernSansLight;
    src: url("fonts/ModernSans-Light.otf") format("opentype");
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: ModernSansLight;
    color: #efefef;
    background-color: #111111;
}

#controlPanel {
    font-family: ModernSansLight;
    position: absolute;
    left:0;
    top:0;
    width: 400px;
    height: 100%;
    background-color: #161616;
    color : #efefef;
    padding: 0 10px 0 10px;
    overflow: auto;
}

#controlPanel h1 a {
    color: inherit;
    font-family: ModernSansLight;
    font-size: 28pt;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    position: relative;
    z-index: 10;
}

#clickmap{
    height : 25px;
    position : absolute;
    top:28px;
    right : 150px;
    cursor: pointer;
}

#location{
    height : 25px;
    position : absolute;
    top:28px;
    right : 100px;
    cursor: pointer;

}

#moon {
    height:25px;
    position: absolute;
    top: 28px;
    right:55px;

}

/* SLIDERS _____________________________________________________________________
*/

.switch {
    position: absolute;
    top: 30px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282828;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #454545;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #008200;
}

input:focus + .slider {
    box-shadow: 0 0 1px #008200;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background-color: #efefef;
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}

h2 {
    font-weight: normal;
}

#map {
    height: 100%;
    margin: 0 0 0 420px;
    cursor: default;
  }

input[type=text] {
    color: #efefef;
    background-color: #222222;
   /*  selection-background-color:#03c3f5;
    selection-color: #000000; */
    
    font-family: inherit;
    font-size: 15px;
    background-clip: border;
    border-image: none;
    border: none;
    outline: 0;
    padding: 5px 20px 5px 20px;
    width: 360px;
    height: 30px;
    border-radius: 30px;
}

#wrongsearch{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #aaaaaa;
    transition: .4s;
}

#wrongsearch:hover{
    text-decoration: underline;
    color:#efefef;
    transition: .4s;
}

table{
    width: 100%;
}

tr, table, td, th{
    line-height: 150%;
    background-color: transparent;
    border: 0px;
    outline: none;
}

th{
    font-size: 17px;
}

td {
    padding: 3px;
}

.data:hover{
    background-color: #222222;
    border: none;
}

.data{
    transition: 0.25s;
}

#searchdiv{
    position: absolute;
    top: 10%;
    left: 35%;
    height: 80%;
    width: 30%;
    background-color: #161616;
    border-radius: 15px;
    display:none;
    overflow-y: auto;
    overflow-x: visible;
}

#searchdiv h2{
    width: 100%;
    text-align: center;
}

#searchdiv ul{
    width: calc(100%-40px);
    line-height: normal;
    border-top: 1px solid #333333;
    vertical-align: middle;
    padding: 20px;
    margin: 0;
    transition: .4s;
    cursor: pointer;
}

#searchdiv ul:hover{
    background-color: #222222;
    transition: .4s;
    color: #fff;
}